.appContainer{
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
canvas {
  border: 1px solid black;
}
.sliderContainer {
  width: 100%;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}
input[type="range"] {
  height: 2em;
  border-radius: 10px;
  -webkit-appearance: none;
  width: 100%;
  background: #d3d3d3; /* Grey background */
}

input[type="range"]::-webkit-slider-thumb,input[type="range"]::-moz-range-thumb  {
  height: 3em;
  -webkit-appearance: none; /* Override default look */
}
